.lookbook_wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.lookbook_product {
  position: absolute;
  left: 0;
  top: 0;
  flex: 0 0 27.847222222%;
  max-width: 27.847222222%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.lookbook_product .title {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  gap: 0.75rem;
  height: 4rem;
  align-items: center;
  padding: 0 1.5625rem;
}
.lookbook_product .title svg {
  flex: 0 0 1.5rem;
  max-width: 1.5rem;
  height: 1.5rem;
}
.lookbook_product .content {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #7d7d7d #fff;
}
.lookbook_product .product {
  border-top: 1px solid #EAECF0;
  flex-direction: row;
  padding: 1rem;
  background-color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.lookbook_product .product:hover, .lookbook_product .product.current {
  background-color: #F2F4F7;
}
.lookbook_product .product-img {
  flex: 0 0 7rem;
  max-width: 7rem;
  height: 7rem;
  padding: 0.5625rem;
  background-color: #fff;
  margin: 0;
}
.lookbook_product .product-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.lookbook_product .product-txt {
  flex: 0 0 calc(100% - 7rem);
  max-width: calc(100% - 7rem);
  padding-left: 1rem;
}
.lookbook_product .product-txt .tag {
  position: static;
}
.lookbook_product .product-txt .tag-item {
  font-size: 0.625rem;
  padding: 0 0.375rem;
  gap: 0.125rem;
}
.lookbook_product .product-txt .tag-item svg {
  width: 0.5rem;
  height: 0.625rem;
}
.lookbook_product .product-txt .model {
  font-size: 0.75rem;
  margin: 0;
}
.lookbook_product .product-txt .name,
.lookbook_product .product-txt .price {
  font-size: 0.875rem;
  margin: 0 0 0.375rem 0;
}
.lookbook_product .product-txt .price {
  gap: 0.375rem;
}
.lookbook_product .product-txt .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lookbook_product .product-txt .meta-but {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C0C0C0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.lookbook_product .product-txt .meta-but svg {
  width: 1rem;
  height: 1rem;
}
.lookbook_product .product-txt .meta .link-but {
  font-size: 0.875rem;
}
.lookbook_experience {
  position: relative;
  flex: 0 0 72.1527777778%;
  max-width: 72.1527777778%;
  margin-left: auto;
}
.lookbook_experience .kitchen_banner--item {
  aspect-ratio: 1039/676;
}
.lookbook_experience .kitchen_banner--item img {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}
.lookbook_introduce {
  width: 100%;
  max-width: 56.375rem;
  margin: 0 auto;
  padding: 7.5rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.lookbook_introduce h2 {
  font-size: 1.875rem;
  font-weight: 600;
}
.lookbook_introduce *:not(:last-child) {
  margin-bottom: 1.25rem;
}
.lookbook-related {
  background-color: #F2F2F2;
  padding: 4.375rem 2.5rem 7.5rem 2.5rem;
}
.lookbook-related .new-txt {
  padding-top: 1.5625rem;
}
.lookbook-related .new-txt h3 {
  text-align: center;
  margin-bottom: 0;
}

.loolbook-other {
  position: absolute;
  left: 1.25rem;
  top: 3.75rem;
  width: 25rem;
  background-color: #fff;
  -webkit-border-radius: 0.75rem;
  border-radius: 0.75rem;
  overflow: hidden;
  z-index: 10;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.loolbook-other.show {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.loolbook-other .other-header {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  gap: 0.5rem;
  width: 0.25rem;
  height: 0.5rem;
  height: 4rem;
  padding: 0 1rem;
  cursor: pointer;
  width: 100%;
}
.loolbook-other .other-back {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.loolbook-other .other-back svg {
  width: 0.5rem;
  height: 1rem;
}
.loolbook-other .product {
  border-top: 1px solid #EAECF0;
  flex-direction: row;
  padding: 1rem;
  background-color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.loolbook-other .product:hover {
  background-color: #F2F4F7;
}
.loolbook-other .product-img {
  flex: 0 0 4.875rem;
  max-width: 4.875rem;
  height: 4.875rem;
  padding: 0.5625rem;
  background-color: #fff;
  margin: 0;
}
.loolbook-other .product-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.loolbook-other .product-txt {
  flex: 0 0 calc(100% - 4.875rem);
  max-width: calc(100% - 4.875rem);
  padding-left: 1rem;
  flex-direction: row;
}
.loolbook-other .product-txt .model {
  font-size: 0.75rem;
  margin: 0;
}
.loolbook-other .product-txt .name,
.loolbook-other .product-txt .price {
  font-size: 0.875rem;
  margin: 0 0 0.375rem 0;
}
.loolbook-other .product-txt .price {
  gap: 0.375rem;
}
.loolbook-other .product-txt .info {
  flex-grow: 1;
  padding-right: 1rem;
}
.loolbook-other .product-txt .meta {
  flex: 0 0 2.5rem;
  max-width: 2.5rem;
}
.loolbook-other .product-txt .meta-but {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C0C0C0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.loolbook-other .product-txt .meta-but svg {
  width: 1rem;
  height: 1rem;
}

.experience-list {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-bottom: 1.25rem;
}
.experience-item {
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  width: 21.5rem;
  height: auto;
  padding: 0.625rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.experience-item .nav-next,
.experience-item .nav-prev {
  border: none;
  flex: 0 0 2.5rem;
  max-width: 2.5rem;
  height: 2.5rem;
}
.experience-name, .experience-amount {
  text-align: center;
}
.experience-name {
  font-size: 1rem;
  font-weight: 600;
}
.experience-amount {
  font-size: 0.875rem;
}

.lookbook-port {
  display: none;
}

@media screen and (max-width: 1023px) {
  .lookbook_introduce {
    padding: 3.75rem 1rem;
  }
  .lookbook-related {
    padding: 3.75rem 1rem;
  }
}
@media (orientation: landscape) and (max-width: 1023px) {
  .lookbook_wrap {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .lookbook_viewmore {
    position: absolute;
    width: 56px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    border-right: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    z-index: 11;
  }
  .lookbook_viewmore .title {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #D9D9D9;
  }
  .lookbook_viewmore .title svg {
    width: 20px;
    height: 20px;
  }
  .lookbook_viewmore span {
    position: absolute;
    left: 0;
    transform: rotate(-90deg);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
    gap: 4px;
  }
  .lookbook_viewmore span.view {
    left: -20px;
  }
  .lookbook_viewmore span.close {
    left: 0;
    opacity: 0;
  }
  .lookbook_viewmore span.close svg {
    -webkit-transform: scale(-1);
    transform: scale(-1);
  }
  .lookbook_viewmore span svg {
    display: block;
    width: 12px;
    height: 6px;
  }
  .lookbook_viewmore.show span.view {
    opacity: 0;
  }
  .lookbook_viewmore.show span.close {
    opacity: 1;
  }
  .lookbook .kitchen_pot--item {
    width: 24px;
    height: 24px;
  }
  .lookbook_product {
    z-index: 10;
    width: 400px;
    max-width: 400px;
    left: 56px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  .lookbook_product .title {
    display: none;
  }
  .lookbook_product.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .lookbook_product .content .product {
    padding: 10px;
  }
  .lookbook_product .content .product-img {
    flex: 0 0 86px;
    max-width: 86px;
    height: 86px;
    padding: 5px;
  }
  .lookbook_product .content .product-txt {
    flex: 0 0 calc(100% - 86px);
    max-width: calc(100% - 86px);
    padding-left: 15px;
  }
  .lookbook_product .content .product-txt .model {
    font-size: 12px;
  }
  .lookbook_product .content .product-txt .price,
  .lookbook_product .content .product-txt .name {
    font-size: 14px;
  }
  .lookbook_product .content .product-txt .tag-item {
    font-size: 10px;
  }
  .lookbook_product .content .product-txt .meta .link-but {
    font-size: 14px;
  }
  .lookbook_product .content .product-txt .meta-but {
    width: 32px;
    height: 32px;
  }
  .lookbook_product .content .product-txt .meta-but svg {
    width: 12px;
    height: 12px;
  }
  .lookbook_experience {
    flex: 0 0 calc(100% - 56px);
    max-width: calc(100% - 56px);
  }
  .lookbook_experience .kitchen_banner--item {
    aspect-ratio: 756/375;
  }
  .experience-list {
    padding-bottom: 7px;
    padding-right: 5px;
  }
  .experience-item {
    margin-left: auto;
    width: 185px;
    height: auto;
    padding: 0 10px;
    height: 40px;
    align-items: center;
    margin: 0;
    margin-left: auto;
  }
  .experience-item .nav-next,
  .experience-item .nav-prev {
    border: none;
    flex: 0 0 24px;
    max-width: 24px;
    height: 24px;
  }
  .experience-name, .experience-amount {
    text-align: center;
  }
  .experience-name {
    font-size: 12px;
  }
  .experience-amount {
    display: none;
  }
  .loolbook-other {
    left: 0;
    top: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 100%;
    overflow: hidden;
  }
  .loolbook-other .other-header {
    min-height: 56px;
  }
  .loolbook-other .other-product {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .loolbook-other .product-img {
    flex: 0 0 86px;
    max-width: 86px;
    height: 86px;
    padding: 5px;
  }
  .loolbook-other .product-txt {
    flex: 0 0 calc(100% - 86px);
    max-width: calc(100% - 86px);
    padding-left: 15px;
    padding-top: 10px;
  }
  .loolbook-other .product-txt .model {
    font-size: 12px;
  }
  .loolbook-other .product-txt .price,
  .loolbook-other .product-txt .name {
    font-size: 14px;
  }
  .loolbook-other .product-txt .tag-item {
    font-size: 10px;
  }
  .loolbook-other .product-txt .meta .link-but {
    font-size: 14px;
  }
  .loolbook-other .product-txt .meta-but {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  .loolbook-other .product-txt .meta-but svg {
    width: 12px;
    height: 12px;
  }
}
@media (orientation: portrait) and (max-width: 1023px) {
  .lookbook_wrap {
    display: none;
  }
  .lookbook-port {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
  }
  .lookbook-port .port-img {
    display: block;
    width: 100%;
    height: auto;
    line-height: 0;
  }
  .lookbook-port .port-img img {
    width: 100%;
    height: auto;
  }
  .lookbook-port .port-txt {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 9.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.9375rem;
  }
  .lookbook-port .port-txt p {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.428571429;
  }
  .lookbook-port .port-icon {
    width: 3rem;
    height: auto;
    line-height: 0;
    margin-bottom: 1.875rem;
  }
  .lookbook-port .port-icon img {
    width: 100%;
    height: auto;
  }
}
