.products {
  background: #ffffff;
  padding: 7.5rem 0;
}
.products.product-new, .products.product-promotion {
  padding: 5rem 0;
}
.products.product-related {
  padding-top: 2.5rem;
}
.products.by-inventory, .products.by-price {
  padding: 0;
  margin-bottom: 7.5rem;
}
.products .title_block {
  padding: 0 2.5rem;
  margin-bottom: 4.125rem;
}
.products_wrap .title_block {
  margin-bottom: 2rem;
}
.products-list {
  width: 100%;
  height: auto;
}
.products-list .swiper-horizontal > .swiper-scrollbar {
  width: 27.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.products-list .swiper-wrapper {
  padding-bottom: 1.375rem;
}
.products-list .swiper-slide {
  height: auto;
}
.products-list .article-banner {
  height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.products-list .article-banner--txt {
  flex-grow: 1;
}
.products-list .product {
  height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.products-list .product-img {
  margin-bottom: 3.125rem;
}
.products-list .product-txt {
  flex-grow: 1;
}

@media screen and (max-width: 1023px) {
  .products {
    padding: 4.125rem 0;
  }
  .products.product-new, .products.product-promotion {
    padding: 3.75rem 0;
  }
  .products .title_block {
    padding: 0 0.9375rem;
    margin-bottom: 1.25rem;
  }
  .products-list .swiper-horizontal > .swiper-scrollbar {
    display: none;
  }
  .products-list .action {
    padding: 0 0.9375rem;
  }
  .products-list .action .link-but {
    width: 100%;
  }
  .products .product-img {
    margin-bottom: 1.25rem;
  }
}
