.new-detail {
  display: flex;
  padding: 0 2.5rem;
  margin-bottom: 6.875rem;
  overflow: initial;
}
.new-detail .content {
  flex: 0 0 calc(100% - 456px);
  max-width: calc(100% - 456px);
  padding-right: 2.5rem;
  padding-top: 3.75rem;
  border-right: 1px solid #D0D5DD;
}
.new-detail .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}
.new-detail .info .cate {
  font-size: 0.875rem;
  background-color: #EAECF0;
  display: inline-flex;
  padding: 0 0.875rem;
  height: 2.25rem;
  width: auto;
  align-items: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.new-detail .info h1 {
  color: #015AAB;
  font-size: 2.25rem;
}
.new-detail .info .time {
  color: #475467;
  font-size: 0.875rem;
  display: flex;
  gap: 1.8125rem;
}
.new-detail .info .time span {
  position: relative;
}
.new-detail .info .time span:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 60%;
  background-color: #98A2B3;
  display: block;
  top: 20%;
  right: -0.875rem;
}
.new-detail .info .relation {
  flex: 0 0 456px;
  max-width: 456px;
}
.new-detail .detail {
  font-size: 1rem;
  color: #101828;
  line-height: 1.5;
}
.new-detail .detail a {
  text-decoration: underline;
  color: inherit;
}
.new-detail .detail strong {
  font-weight: 600;
}
.new-detail .detail > * {
  margin-bottom: 1.25rem;
}
.new-detail .detail h2,
.new-detail .detail h3,
.new-detail .detail h4,
.new-detail .detail h5,
.new-detail .detail h6 {
  font-size: 1.25rem;
}
.new-detail .detail ul {
  list-style: disc;
  margin-left: 1.125rem;
}
.new-detail .detail img {
  display: block;
  width: 100%;
  height: auto;
}
.new-detail .detail img + span {
  display: block;
  text-align: center;
  font-size: 0.875rem;
  margin: 1.25rem 0;
}
.new-detail .share {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
.new-detail .share-title {
  display: flex;
  font-size: 1rem;
  color: #015AAB;
  font-weight: 500;
  gap: 0.625rem;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.new-detail .share-title svg {
  width: 1.25rem;
  height: 1.25rem;
}
.new-detail .share-list {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.new-detail .share-list a {
  display: inline-flex;
  width: 1.875rem;
  height: auto;
  line-height: 0;
  cursor: pointer;
}
.new-detail .share-list a img {
  width: 100%;
  height: auto;
}
.new-detail .relation {
  padding-top: 3.75rem;
  padding-left: 2.5rem;
}
.new-detail .relation-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.875rem;
}
.new-detail .relation .new {
  border-bottom: 1px solid #D0D5DD;
  padding-bottom: 1.875rem;
  margin-bottom: 1.875rem;
}
.new-detail .relation .new-txt h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.625rem;
}
.new-detail .relation .new-meta {
  font-size: 0.875rem;
  color: #475467;
}
.new-detail .relation.recruiment-type .new {
  position: relative;
  width: 100%;
  border: 1px solid #D0D5DD;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 0.75rem;
}
.new-detail .relation.recruiment-type .new h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.new-detail .relation.recruiment-type .new .salary {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  color: #F58720;
  margin-bottom: 0.5rem;
}
.new-detail .relation.recruiment-type .new-meta {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}
.new-detail .relation.recruiment-type .new-meta strong {
  font-weight: 600;
}
.new-detail .relation.recruiment-type .new .link-but {
  font-size: 0.875rem;
}
.new-detail.support .info {
  align-items: flex-start;
}
.new-detail .link-list li:not(:last-child) {
  border-bottom: 1px solid #D0D5DD;
}
.new-detail .link-list a {
  display: block;
  color: #000000;
  font-size: 1rem;
  padding: 1rem 0;
  text-decoration: none;
}

.apply-box {
  margin-top: 3rem;
  background-color: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.875rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.apply-box .company {
  flex: 0 0 17.9375rem;
  max-width: 17.9375rem;
}
.apply-box .company .mini-logo {
  width: 9.75rem;
  line-height: 0;
  margin-bottom: 1.875rem;
}
.apply-box .company .mini-logo img {
  width: 100%;
  height: auto;
}
.apply-box .company .name {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1.875rem;
}
.apply-box .company .address {
  font-size: 0.875rem;
}
.apply-box .company .address li {
  display: flex;
  margin-bottom: 0.875rem;
  gap: 0.875rem;
}
.apply-box .company .address li .icon {
  display: block;
  flex: 0 0 1.25rem;
  max-width: 1.25rem;
  height: 1.25rem;
}
.apply-box .company .address li .icon svg {
  width: 100%;
  height: 100%;
}
.apply-box .form {
  flex: 0 0 27.9375rem;
  max-width: 27.9375rem;
}
.apply-box .form h3 {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}
.apply-box .form p {
  font-size: 0.875rem;
  margin-bottom: 1.875rem;
}
.apply-box .form_group {
  margin-bottom: 1.25rem;
}
.apply-box .form_field {
  width: 100%;
  height: auto;
}
.apply-box .form_field .field_error {
  display: none;
  padding-top: 0.25rem;
  color: #EB5757;
  font-size: 0.75rem;
  font-weight: 400;
}
.apply-box .form_field.show-error .field_error {
  display: block;
}
.apply-box .form_caption {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.375rem;
}
.apply-box .form .input-txt {
  font-size: 1rem;
  padding: 0 1rem;
  background-color: #fff;
}

@media screen and (min-width: 1024px) {
  .new-detail .relation {
    position: sticky;
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 4.375rem;
  }
}
@media screen and (max-width: 1023px) {
  .new-detail {
    display: flex;
    padding: 0;
    margin-bottom: 3.75rem;
    flex-wrap: wrap;
  }
  .new-detail .content,
  .new-detail .relation {
    flex: 0 0 100%;
    max-width: 100%;
    border: none;
    padding: 0;
  }
  .new-detail .content {
    padding: 1.5rem 1rem;
  }
  .new-detail .info {
    padding: 0;
  }
  .new-detail .info .cate {
    font-size: 0.875rem;
  }
  .new-detail .info h1 {
    font-size: 1.875rem;
  }
  .new-detail .info .time {
    font-size: 0.875rem;
  }
  .new-detail .detail {
    font-size: 1rem;
  }
  .new-detail .relation {
    padding: 1.5rem 1rem;
    border-top: 1px solid #D0D5DD;
  }
  .new-detail .relation.recruiment-type {
    padding-top: 2.1875rem;
  }
  .new-detail.recruiment-type .content {
    padding-bottom: 0;
  }
  .apply-box {
    position: relative;
    width: calc(100% + 2rem);
    left: -1rem;
    padding: 1.875rem 1rem 1rem 1rem;
  }
  .apply-box .form {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
